export(kofnGA)
S3method(summary, GAsearch)
S3method(print, GAsearch)
S3method(print, summary.GAsearch)
S3method(plot,GAsearch)
importFrom("graphics", "legend", "matplot", "points")
importFrom("stats", "rbinom")
importFrom("utils", "tail")
